* {
    background-color: gray;
    text-align: center;
}

a {
    color: pink;
    box-sizing: border-box;
    padding: 75px;
}

h1 {
    color: pink
}

.makeMePink {
    color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}